header h1{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.125em;
  font-weight: bold;
  margin: 1em 0em 1em 0em;
  font-size: 2em;
}
header nav{
  text-align: center;
}
header nav h3{
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin:0em 0.5em 0.5em 0.25em;
  letter-spacing: 0.025em;
  font-size: 1.25em;
}
